html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.page{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: top 1s ease-in-out;
}
.hidden{
	display: none;
}
#title_page{
	background-color: orange;
}
#content_page{
	background-color: white;
}
#main_page{
	display: flex;
}
#sidebar,#subsidebar{
	height: 100%;
	-webkit-transition: all 0.3s ease-out;
}
#sidebar{
	background-color: blue;
	width: 250px;
	z-index: 1000;
}
#subsidebar{
	background-color: green;
	width: 0;
	z-index: 100;
}
#subsidebar .index{
	display: none;
}
#content_wrapper{
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	top:0;
	-webkit-transition:all 0.4s ease-out;
	background-color: yellow;
	z-index: 10;
	flex:1;
}
#subsidebar.active{
	width: 250px;
}
#subsidebar.active .index{
	display: block;
}
.content_page{
	background-color: #666666;
	color: #fff;
}