html{
	height: 100%;
	width: 100%;
	margin: 0;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.page{
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transition: top 1s ease-out;
}
.hidden{
	display: none;
}
#main_wrapper{
	top:0;
	position: relative;
	-webkit-transition:all 0.4s ease-out;
}
#title_page,#index_page,#thank_page{
	z-index: 1000;
}
#title_page{
	background-color: #ddd;
}
#title_wrapper{
	margin:0 250px 150px 250px;
	padding-top: 150px;
}
#title{
	font-size: 80px;
	margin: 0 0 10px 0;
}
#subtitle{
	font-size: 40px;
	margin:10px 0 0 0;
}
#author{
	position: absolute;
	bottom: 200px;
	font-size: 35px;
}


#index_page{
	background-color: #666;
	color: #fff;
}
#index_wrapper{
	float:right;
	margin: 0 350px 150px 0;
	padding-top: 150px; 
}
#index_title{
	font-size: 80px;
}
.index_name{
	font-size: 35px;
	margin-bottom: 50px;
}


#thank_page{
	background-color: #ddd;

}
#thank_wrapper{
	margin:0 250px 150px 250px;
	padding-top: 250px;
}
#thank_title{
	font-size: 80px;
}

#main_page{
	display: flex;
}
#sidebar,#subsidebar{
	height: 100%;
	background-color: #fff;
  	box-shadow: 0px 0px 20px 0px #ddd;
	-webkit-transition: all 0.3s ease-out;
}
#sidebar{
	width: 250px;
	z-index: 999;
	font-weight: bold;
}
#subsidebar{
	width: 0;
	position: absolute;
	z-index: 100;
}
.sidebar_item{
	line-height: 50px;
	padding-left: 10px;
	height: 50px;
	color: #666;
	border-bottom: 1px solid #ddd;
}
#sidebar .sidebar_item:nth-child(1){
	border-top: 1px solid #ddd;
	margin-top: 100px;
}
#subsidebar .sidebar_item:nth-child(1){
	border-top: 1px solid #ddd;
	margin-top: 175px;
}
#subsidebar .index{
	display: none;
}
#content_wrapper{
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top:0;
	-webkit-transition:all 0.4s ease-out;
	background-color: #fff;
	z-index: 10;
	flex:1;
}
#subsidebar.active{
	width: 250px;
}
#subsidebar.active .index{
	display: block;
}
.content_page{
	background-color: #fff;
	color: #666;
}


.sidebar_item.active{
	background-color: #666;
	color: #fff;
}